@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.container {
  width: 1220px;
  height: 100%;
  margin: 0 auto;
  /* border: 1px solid black; */
}
.pisture {
  background: url(./assets/image/01.png);
  width: 1220px;
  height: 829px;
  background: rgba(0, 0, 0, 0.5), url(bg-2);
  position: relative;
}
.Roofing {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Rectangle 169 */
  width: 1220px;
  height: 133px;
  position: absolute;
  right: px;
  top: 179px;
  background: rgba(0, 0, 0, 0.6);
}
.Roofing-title span {
  color: rgb(0, 102, 51);
}
.Roofing-title {
  font-family: Fira Sans;
  font-size: 46px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(255, 255, 255);
  width: 500px;
}
.Roofing-text {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  width: 400px;
}
.cardComment {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  gap: 20px;
}
.card {
  position: relative;
  top: 359px;
  left: 45px;
  display: flex;
}
.card-animation {
  /* Rectangle 183 */
  width: 267px;
  height: 248px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 52px;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border-left: 5px solid rgb(0, 102, 51);
  box-shadow: 0px 0px 10px 0px rgb(207, 207, 207);
}
.card-image {
  background: url(./assets/svg/01.png);
  /* Vector */
  position: absolute;
  width: 302px;
  height: 235px;
  left: -32px;
  top: 15px;
  right: 0px;
}
.card-number {
  color: rgba(0, 102, 51, 0.2);
  font-family: Fira Sans;
  font-size: 46px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  position: absolute;
  left: 55px;
  top: 10px;
}
.card-avator {
  /* ✨ roof siding corner */
  position: absolute;
  width: 80px;
  height: 80px;
  left: 202px;
  top: 4px;
}
.card-title {
  position: absolute;
  top: 134px;
  left: 30px;
}
.card-title h3 {
  color: rgb(0, 0, 0);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
}
.card-title p {
  color: rgb(0, 0, 0);
  font-family: Fira Sans;
  font-size: 15px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  width: 190px;
  padding-top: 4px;
}

.bg-header {
    border-radius: 0 0 30px 30px;
    width: 1220px;
    height: 89px;
    box-shadow: 0px 4px 4px 0px rgb(186, 186, 186);
    background: rgb(0, 102, 51);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bg-header img{
    margin-left: 40px;
}

.rectange77 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 562px;
    margin-right: 53px;
}
.phone{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 20px;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
}
.rectange77 button{
    width: 170px;
height: 45px;
border-radius: 5px;
background: rgb(255, 255, 255);
border:none;
}
.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1135px;
height: 19px;
margin-right: 42px;
margin-left: 43px;
margin-top: 15px;
}
.header-menu h1{
    color: rgb(0, 0, 0);
font-family: Fira Sans;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}
.header-menu h2{
    width: 7px;
height: 7px;
border-radius: 900px;

background: rgb(0, 102, 51);
}
.banner2{
    position: relative;
}
.title{
   
 margin: 0 auto;
position: absolute;
width: 1280px;
height: 364px;
top: 146px;
bottom: 100px;
}
.title h1{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 26px;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
}
.title h2{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 66px;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
border: none;
}
.title button{
    width: 250px; 
height: 65px;
border: none;

color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 24px;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
border-radius: 5px;
margin-left: 515px;
background: rgb(0, 102, 51);
}
.title button:hover{
    background: rgb(127, 178, 152);
    border: none;

}

.cards3{
    width: 1140px;
height: 210px;
margin-top: -50px;
margin-left: 20px;
display: flex;
justify-content: space-between;
align-items: center;
gap:24px;
}

.rectang{

width: 1140px;
z-index: 55;
margin-top: 300px;
margin-left: 68px;
background-color: rgba(255, 255, 255, 0.844);
height: 100px;}



.container {
    width: 1220px;
    height: 100%;
    margin: 0 auto;
}

.footer {
    position: absolute;
    width: 1280px;
    height: 659px;
    border: 2px solid black;
    background-color: rgb(40, 37, 37);
    margin-top: 100px;
}

.menu {
    width: 656px;
    height: 217px;
margin-left: 55px;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 10px;
}

.services {
    width: 202px;
    height: 217px;
    left: 70px;
    right: 384px;

}
.line {
width: 2px;
height: 100%;
border: 1px solid rgba(204, 204, 204, 0.771);
}

.menu p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.menu ul li {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 200;
    line-height: 35px;
    text-align: left;
    text-transform: uppercase;



    width: 202px;
    height: 180px;
    padding: 10px;


}

.products {
    width: 202px;
    height: 180px;
    left: 297px;
    right: 157px;
    padding-top: 10px;
}

.service-area {
    width: 200px;
    height: 217px;
    left: 524px;
    padding-top: 10px;
}



.news {
    position: absolute;
    width: 752px;
    height: 227px;
    left: 70px;
    right: 458px;
    display: block;
    padding: 25px;
    margin-top: 30px;
    border: 2px solid rgb(218, 218, 234);
}

.news h3 {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-weight: 600;
    line-height: 31px;
    text-align: left;
    padding: 10px;
}

.news h4 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;


}

.form {
    display:flex ;
    padding: 10px;
    width: 560px;
    height: 72px;
    gap: 5px;
    margin-top: 10px;

}

.form input {
    width: 364px;
    height: 50px;
    left: 100px;
    right: 96px;
    padding-left: 10px; 
    background-color: rgb(40, 37, 37);
    border: 2px solid white;
    
}

.btn {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    width: 176px;
    height: 50px;
    border-radius: 5px;
    background: rgb(0, 102, 51);
}

.news p {
    color: rgb(255, 255, 255);
    font-size: 8px;
    font-weight: 400;
    line-height: 150%;
}
.contacts {
    position: absolute;
    width: 461px;
    height: 421px;
    background: rgba(0, 102, 51, 0.8);
    background-image: url(./assets/image/green.png);
    right: 30px;
    top: -30px;

}

.contacts p {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    position: absolute;
    width: 380px;
    height: 250px;
    padding: 20px;

}

.cosial {
    position: absolute;
    width: 140px;
    height: 40px;
    padding-top: 300px;
    left: 20px;
}
.reserv {
    position: absolute;
    display: flex;
    flex-direction: column;
width: 170px;
height: 120px;
color: rgba(255, 255, 255, 0.5);
font-size: 13px;
font-weight: 400;
line-height: 150%;
bottom: 80px;
right: 250px;
gap: 20px;

}

.logo2 {
position: absolute;
width: 190px;
height: 120px;
right: 40px;
bottom: 120px;
}